<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citic.server.net.mapper.Br20_md_infoMapper">


	<select id="getWhiteList" parameterType="String" resultType="com.citic.server.dx.domain.Br20_md_info">
		select *
		from br20_md_data
		where md_flag ='2'
	</select>

	<select id="getDealFileName" parameterType="com.citic.server.dx.domain.Br20_md_info" resultType="String">
		select distinct file_name
		from br20_md_accept
		<where>
			<if test="flag != null and flag != ''">
				and flag in (${flag})
			</if>
			<if test="md_type != null and md_type != ''">
				and md_type=#{md_type}
			</if>
			<if test="file_type != null and file_type != ''">
				and file_type=#{file_type}
			</if>
			<if test="accept_time != null and accept_time != ''">
				and accept_time like #{accept_time}||'%'
			</if>
		</where>
	</select>

	<select id="getTaskInfo" resultType="com.citic.server.dx.domain.Br20_md_info">
		select *
		from br20_md_task order by file_type desc
	</select>

	<update id="updateMd_flagByOperate_flag" parameterType="com.citic.server.dx.domain.Br20_md_info">
		update br20_md_data
		<set>
			<if test="md_flag != null and md_flag != ''">
				md_flag=#{md_flag},
			</if>
			<if test="last_update_time != null and last_update_time != ''">
				last_update_time=#{last_update_time},
			</if>
			<if test="last_update_user != null and last_update_user != ''">
				last_update_user=#{last_update_user}
			</if>
		</set>
		where md_type=#{md_type} and md_value=#{md_value} and and p_name=#{p_name}
	</update>

	<insert id="insertBr20_md_data_log" parameterType="com.citic.server.dx.domain.Br20_md_info">
		insert into br20_md_data_log(
		file_code,md_code,md_type,md_kind,cardtype,md_value,p_name,md_source,case_type,operate_flag,send_flag,accept_time,bank_id,police,police_phone,police_check_dt,open_card_dt,start_dt,end_dt,remark
		) values(
		#{file_code},#{md_code},#{md_type},#{md_kind},#{cardtype},#{md_value},#{p_name},#{md_source},#{case_type},#{operate_flag},#{send_flag},#{accept_time},#{bank_id},#{police},#{police_phone},#{police_check_dt},#{open_card_dt},#{start_dt},#{end_dt},#{remark}
		)
	</insert>

	<insert id="insertBr20_md_data" parameterType="com.citic.server.dx.domain.Br20_md_info">
		insert into br20_md_data(
		md_code,md_type,md_kind,cardtype,md_value,p_name,md_source,case_type,md_flag,last_update_time,last_update_user,bank_id,police,police_phone,police_check_dt,open_card_dt,start_dt,end_dt,remark
		) values(
		#{md_code},#{md_type},#{md_kind},#{cardtype},#{md_value},#{p_name},#{md_source},#{case_type},#{md_flag},#{last_update_time},#{last_update_user},#{bank_id},#{police},#{police_phone},#{police_check_dt},#{open_card_dt},#{start_dt},#{end_dt},#{remark}
		)
	</insert>

	<insert id="insertBr20_md_accept" parameterType="com.citic.server.dx.domain.Br20_md_info">
		insert into br20_md_accept(
		file_code,file_name,accept_time,md_type,file_type,md_source,flag
		) values(
		#{file_code},#{file_name},#{accept_time},#{md_type},#{file_type},#{md_source},#{flag}
		)
	</insert>

	<update id="updateFlagByDo" parameterType="String">
		update br20_md_accept
		set flag = '3'
		where file_code=#{_parameter}
	</update>

	<update id="updateFlagByFileName" parameterType="String">
		update br20_md_accept
		set flag = '3'
		where file_name=#{_parameter} and flag !='2'
	</update>

	<update id="updateFlagByFail" parameterType="String">
		update br20_md_accept
		set flag = '2'
		where file_name=#{_parameter}
	</update>

	<delete id="deleteBr20_md_data_log" parameterType="String">  
  <![CDATA[ delete from br20_md_data_log where md_type=#{_parameter}]]>
	</delete>

	<delete id="deleteBr20_md_dataByVo" parameterType="String">  
  <![CDATA[ delete from br20_md_data where md_flag !='2' and md_type=#{_parameter} ]]>
	</delete>

	<select id="getIncrementSendData" parameterType="String" resultType="com.citic.server.dx.domain.Br20_md_info">
		select *
		from br20_md_data_log
		where send_flag = #{_parameter}
		order by accept_time
	</select>

	<select id="getAllSendData" resultType="com.citic.server.dx.domain.Br20_md_info">
		select *
		from br20_md_data
		where md_flag ='1'
		<!-- <if test="md_type != null and md_type != ''"> md_type=#{md_type} </if> -->
	</select>

	<insert id="insertBr20_md_send" parameterType="com.citic.server.dx.domain.Br20_md_info">
		insert into br20_md_send(
		file_code,file_name,syscode,send_time,md_type,file_type,flag
		) values(
		#{file_code},#{file_name},#{syscode},#{send_time},#{md_type},#{file_type},#{flag}
		)
	</insert>

	<update id="updateBr_md_taskByVo" parameterType="com.citic.server.dx.domain.Br20_md_info">
		update br20_md_task
		set last_time=#{last_time},next_time=#{next_time}
		where syscode=#{syscode} and file_type=#{file_type}
	</update>

	<update id="updateSend_flagBykeys" parameterType="com.citic.server.dx.domain.Br20_md_info">
		update br20_md_data_log
		set send_flag = '1',send_time =#{send_time}
		where send_flag = #{send_flag}
	</update>

	<update id="updateSend_flagByTime" parameterType="com.citic.server.dx.domain.Br20_md_info">
		update br20_md_data_log
		set send_flag = #{send_flag},send_time =#{send_time}
		where accept_time &lt;= #{accept_time} and send_flag = '0'
	</update>

	<update id="updateSend_flagByMiddle" parameterType="String">
		update br20_md_data_log
		set send_flag = #{_parameter}
		where send_flag = '0'
	</update>

	<select id="getAllLoadFlag" resultType="String">
		select vals
		from bb13_sys_para
		where code = 'all_load_flag'
	</select>

	<select id="getMaxFileName" parameterType="com.citic.server.dx.domain.Br20_md_info" resultType="String">
		select max(file_name)
		from br20_md_accept
		<where>
			<if test="md_type != null and md_type != ''">
				and md_type=#{md_type}
			</if>
			<if test="file_type != null and file_type != ''">
				and file_type=#{file_type}
			</if>
		</where>
	</select>

	<select id="getMaxSendFileName" resultType="String">
		select max(file_name)
		from br20_md_send
	</select>

	<delete id="deleteBr20_md_dataByKey" parameterType="com.citic.server.dx.domain.Br20_md_info">  
  <![CDATA[ delete from br20_md_data 
  where md_type=#{md_type}
  and md_value=#{md_value}
  and p_name=#{p_name}
  and case_type=#{case_type} ]]>
	</delete>

	<delete id="deleteBr20_md_dataByBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="BEGIN" close=";END" separator=";">
			delete from br20_md_data
			where md_type=#{item.md_type}
			and md_value=#{item.md_value}
			and p_name=#{item.p_name}
			and case_type=#{item.case_type}
		</foreach>
	</delete>
	
	<insert id="insertBr20_md_dataByNewAndBatch" parameterType="com.citic.server.dx.domain.Br20_md_info" timeout="600">
		insert into
		br20_md_data(md_code,md_type,md_kind,cardtype,md_value,p_name,md_source,case_type,bank_id,police,police_phone,police_check_dt,open_card_dt,start_dt,end_dt,remark,md_flag,last_update_time)
		 select md_code,md_type,md_kind,cardtype,md_value,p_name,md_source,case_type,bank_id,police,police_phone,police_check_dt,open_card_dt,start_dt,end_dt,remark,'1' as md_flag,#{accept_time} as last_update_time
		 from (
		    select md_code,md_type,md_kind,cardtype,md_value,p_name,md_source,case_type,bank_id,police,police_phone,police_check_dt,open_card_dt,start_dt,end_dt,remark,operate_flag, row_number() over(partition by
		         md_value,md_type,p_name,case_type order by police_check_dt desc) as row_num
		    from br20_md_data_log t1
		    where file_code= #{file_code}
		      and not exists (
                  select '1' from br20_md_data t2 
                  where t2.md_value = t1.md_value and t2.md_type = t1.md_type and t2.p_name= t1.p_name and t2.case_type=t1.case_type and t2.md_flag='2'
               )
		 ) t 
		 where t.row_num = 1 and t.operate_flag='+'
	</insert>
	<delete id="deleteBr20_md_dataByFlagAndBatch" parameterType="String" timeout="600">
	  delete from br20_md_data t1
	  where exists (
	       select '1' from br20_md_data_log t2
	       where t2.md_value = t1.md_value and t2.md_type = t1.md_type and t2.p_name= t1.p_name and t2.case_type=t1.case_type 
	             and t2.file_code= #{_parameter}
	       )
	  and t1.md_flag !='2'
</delete>
</mapper>


