<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citic.server.net.mapper.MM11_indic_logMapper">

	<insert id="insertMM11_indic_log" parameterType="com.citic.server.service.domain.MM11_indic_log">
		insert into MM11_indic_log(
			indickey,datatime,indicseq,sqlseq,sqlstr  
		)
		values(
			#{indickey},#{datatime},#{indicseq},#{salseq},#{sqlstr}
		)
	</insert>
	
	<delete id="deleteMM11_indic_log" parameterType="string">
		<![CDATA[ delete from mm11_indic_log where indickey=#{indickey} ]]>
	</delete>
	
</mapper>


