<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citic.server.net.mapper.MM24_q_mainMapper">

	<delete id="delBr24_q_main" parameterType="String">  
  		<![CDATA[ delete from br24_q_main where transserialnumber=#{transserialnumber} ]]>
	</delete>
	
	<insert id="insertBr24_q_main" parameterType="com.citic.server.dx.domain.Br24_q_Main">
		insert into br24_q_main(
		txcode,transserialnumber,applicationid,originalapplicationid,casenumber,casetype,accountcredentialtype,accountcredentialnumber,accountsubjectname,inquirymode,emergencylevel,subjecttype,bankid,bankname,accountname,accountnumber,inquiryperiodstart,inquiryperiodend,reason,remark,interceptionorderid,interceptionenddate,applicationtime,
		applicationorgid,applicationorgname,operatoridtype,operatoridnumber,operatorname,operatorphonenumber,investigatoridtype,investigatoridnumber,investigatorname,orgkey,status,messagefrom,qrydt,last_up_dt,recipient_time
		) values(
		#{txCode},#{transSerialNumber},#{applicationid,jdbcType=VARCHAR},#{originalapplicationid,jdbcType=VARCHAR},#{casenumber,jdbcType=VARCHAR},#{casetype,jdbcType=VARCHAR},#{accountcredentialtype,jdbcType=VARCHAR},#{accountcredentialnumber,jdbcType=VARCHAR},#{accountsubjectname,jdbcType=VARCHAR},#{inquirymode,jdbcType=VARCHAR},#{emergencylevel,jdbcType=VARCHAR},#{subjecttype,jdbcType=VARCHAR},#{bankid,jdbcType=VARCHAR},#{bankname,jdbcType=VARCHAR},#{accountname,jdbcType=VARCHAR},#{accountnumber,jdbcType=VARCHAR},#{inquiryperiodstart,jdbcType=VARCHAR},#{inquiryperiodend,jdbcType=VARCHAR},#{reason,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{interceptionorderid,jdbcType=VARCHAR},#{interceptionenddate,jdbcType=VARCHAR},#{applicationtime,jdbcType=VARCHAR},
		#{applicationorgid,jdbcType=VARCHAR},#{applicationorgname,jdbcType=VARCHAR},#{operatoridtype,jdbcType=VARCHAR},#{operatoridnumber,jdbcType=VARCHAR},#{operatorname,jdbcType=VARCHAR},#{operatorphonenumber,jdbcType=VARCHAR},#{investigatoridtype,jdbcType=VARCHAR},#{investigatoridnumber,jdbcType=VARCHAR},#{investigatorname,jdbcType=VARCHAR},#{orgkey,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{messageFrom,jdbcType=VARCHAR},#{qrydt,jdbcType=VARCHAR},#{last_up_dt,jdbcType=VARCHAR},#{recipient_time,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateBr24_q_main" parameterType="com.citic.server.dx.domain.Br24_q_Main">
		update br24_q_main
		<set>
			<if test="status != null">
				status=#{status}
			</if>
		</set>
		where transserialnumber=#{transSerialNumber}
	</update>
	
	<select id="selectBr24_q_mainByVo" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_q_Main">
		select  *  from br24_q_main where  transserialnumber = #{transserialnumber}
	</select>
	
		<select id="selectBr24_q_main_OldByVo" parameterType="com.citic.server.dx.domain.Br24_q_Main"	resultType="com.citic.server.dx.domain.Br24_q_Main">
		select  *  from br24_q_main where  originalapplicationid = #{originalapplicationid} and messageFrom=#{messageFrom}
	</select>
	
	<select id="selectBr24_q_main_nameList" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_q_Main">
		select  *  from br24_q_main where  ACCOUNTNUMBER = #{accountnumber} 
	</select>
	
	<select id="selectBr24_q_main_name_gf" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_q_Main">
		select  distinct XM  As accountname from BR31_KZQQ where  BDHM = #{bdhm}  
	</select>
	<select id="selectBr24_q_main_name_gf_acct" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_q_Main">
		select  distinct t.xm  As accountname  from BR31_KZQQ T,BR31_KZZH T1  where T.BDHM=T1.BDHM  and   T1.KHZH = #{accountnumber}  
	</select>
	<delete id="delBr24_bas_info" parameterType="com.citic.server.dx.domain.Br24_bas_info">  
  		<![CDATA[ delete from br24_bas_info where applicationid=#{applicationid,jdbcType=VARCHAR} and toorg=#{toorg,jdbcType=VARCHAR} ]]>
	</delete>
	
	<insert id="insertBr24_bas_info" parameterType="com.citic.server.dx.domain.Br24_bas_info"> 
	   insert into br24_bas_info (modeid, toorg, txcode, transserialnumber, result,applicationid, qrydt, status,operatorname,operatorphonenumber,feedbackorgname,orgkey,last_up_dt,msgcheckresult)
       values (#{mode},#{toorg,jdbcType=VARCHAR},#{txcode,jdbcType=VARCHAR},#{transserialnumber,jdbcType=VARCHAR},#{result,jdbcType=VARCHAR},#{applicationid,jdbcType=VARCHAR},#{qrydt,jdbcType=VARCHAR},
       #{status,jdbcType=VARCHAR},#{operatorname,jdbcType=VARCHAR},#{operatorphonenumber,jdbcType=VARCHAR},#{feedbackorgname,jdbcType=VARCHAR},#{orgkey,jdbcType=VARCHAR},#{last_up_dt},#{msgcheckresult})
    </insert> 
    
    <update id="updateBr24_bas_info" parameterType="com.citic.server.dx.domain.Br24_bas_info">
		update br24_bas_info 
		<set>
			<if test="result != null  and  result != '' ">
				result=#{result},
			</if>
			<if test="feedbackremark != null  and  feedbackremark != '' ">
				feedbackremark=#{feedbackremark},
			</if>
			<if test="feedback_dt != null  and  feedback_dt != '' ">
				feedback_dt=#{feedback_dt},
			</if>
			<if test="status != null  and  status != '' ">
				status=#{status}
			</if>
		</set>		
		where transserialnumber=#{transserialnumber}
	</update>
	
	<select id="selectBr24_bas_infoByVo" parameterType="com.citic.server.dx.domain.Br24_q_Main"
		resultType="com.citic.server.dx.domain.Br24_bas_info">
		select  *
		 from br24_bas_info where applicationid = #{applicationid} and toorg = #{messageFrom} 
	</select>
	
		<select id="selectBr24_bas_infoById" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_bas_info">
		select  *  from br24_bas_info where  transserialnumber=#{_parameter} 
	</select>

    <delete id="delBr24_account_holder" parameterType="String">  
  		<![CDATA[ delete from br24_account_holder where transserialnumber=#{_parameter} ]]>
	</delete>
	
	<insert id="insertBr24_account_holder" parameterType="com.citic.server.dx.domain.Br24_account_holder"> 
		insert into br24_account_holder (transserialnumber, cardnumber, accountcredentialtype, accountcredentialnumber, accountsubjectname, telnumber, cardoperatorname, cardoperatorcredentialtype, cardoperatorcredentialnumber, residentaddress, residenttelnumber, workcompanyname, workaddress, worktelnumber, emailaddress, artificialpersonrep, artificialpersonrepcredentialt, artificialpersonrepcredentialn, businesslicensenumber, statetaxserial, localtaxserial, credentialExpiryDate,remark,qrydt)
		values (#{transserialnumber}, #{cardnumber}, #{accountCredentialType}, #{accountCredentialNumber}, #{accountSubjectName}, #{telNumber}, #{cardOperatorName}, #{cardOperatorCredentialType}, #{cardOperatorCredentialNumber}, #{residentAddress}, #{residentTelNumber}, #{workCompanyName}, #{workAddress}, #{workTelNumber}, #{emailAddress}, #{artificialPersonRep}, #{artificialPersonRepCredentialType}, #{artificialPersonRepCredentialNumber}, #{businessLicenseNumber}, #{stateTaxSerial}, #{localTaxSerial}, #{credentialExpiryDate},#{remark},#{qrydt})
    </insert> 

	<delete id="delBr24_card_info" parameterType="String">  
  		<![CDATA[ delete from br24_card_info where transserialnumber=#{transserialnumber} ]]>
	</delete>
	
	<insert id="insertBr24_card_info" parameterType="com.citic.server.dx.domain.Br24_card_info"> 
	  insert into br24_card_info (transserialnumber, accountname, cardnumber, depositbankbranch, depositbankbranchcode, accountcancellationtime, accountopentime, accountcancellationbranch, remark, qrydt)
	  values (#{transserialnumber}, #{accountName}, #{cardNumber}, #{depositBankBranch}, #{depositBankBranchCode}, #{accountCancellationTime}, #{accountOpenTime}, #{accountCancellationBranch}, #{remark,jdbcType=VARCHAR}, #{qrydt})
    </insert> 
    
    <delete id="delBr24_account_info" parameterType="String">  
  		<![CDATA[ delete from br24_account_info where transserialnumber=#{transserialnumber} ]]>
	</delete>
	
	<insert id="insertBr24_account_info" parameterType="com.citic.server.dx.domain.Br24_account_info"> 
	 insert into br24_account_info (transserialnumber, cardnumber, accountnumber, accountserial, accounttype, accountstatus, currency, cashremit, accountbalance, availablebalance, lasttransactiontime, accountname, qrydt,orgkey)
     values (#{transserialnumber}, #{cardNumber,jdbcType=VARCHAR}, #{accountNumber}, #{accountSerial,jdbcType=VARCHAR}, #{accountType}, #{accountStatus}, #{currency}, #{cashRemit}, #{accountBalance}, #{availableBalance}, #{lastTransactionTime}, #{accountName,jdbcType=VARCHAR}, #{qrydt},#{depositBankBranchCode})
    </insert> 
	
	<delete id="delBr24_trans_info" parameterType="String">  
  		<![CDATA[ delete from br24_trans_info where transserialnumber=#{transserialnumber} ]]>
	</delete>
	
	<insert id="insertBr24_trans_info" parameterType="com.citic.server.dx.domain.Br24_trans_info"> 
	insert into br24_trans_info (transserialnumber, transseq,cardnumber, accountnumber, transactiontype, borrowingsigns, currency, accountbalance, transactionamount, transactiontime, transactionserial, opponentname, opponentaccountnumber, opponentcredentialnumber, opponentdepositbankid, transactionremark, transactionbranchname, transactionbranchcode, lognumber, summonsnumber, vouchertype, vouchercode, cashmark, terminalnumber, transactionstatus, transactionaddress, merchantname, merchantcode, ipaddress, mac, tellercode, remark, qrydt)
	values (#{transserialnumber,jdbcType=VARCHAR}, #{transseq,jdbcType=VARCHAR},#{cardNumber,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR}, #{transactionType,jdbcType=VARCHAR}, #{borrowingSigns,jdbcType=VARCHAR}, 
	#{currency,jdbcType=VARCHAR}, #{accountBalance,jdbcType=VARCHAR}, #{transactionAmount,jdbcType=VARCHAR}, #{transactionTime,jdbcType=VARCHAR}, #{transactionSerial,jdbcType=VARCHAR}, #{opponentName,jdbcType=VARCHAR}, 
	#{opponentAccountNumber,jdbcType=VARCHAR}, #{opponentCredentialNumber,jdbcType=VARCHAR}, #{opponentDepositBankID,jdbcType=VARCHAR}, #{transactionRemark,jdbcType=VARCHAR}, 
	#{transactionBranchName,jdbcType=VARCHAR}, #{transactionBranchCode,jdbcType=VARCHAR}, #{logNumber,jdbcType=VARCHAR}, #{summonsNumber,jdbcType=VARCHAR}, #{voucherType,jdbcType=VARCHAR}, 
	#{voucherCode,jdbcType=VARCHAR}, #{cashMark,jdbcType=VARCHAR}, #{terminalNumber,jdbcType=VARCHAR}, #{transactionStatus,jdbcType=VARCHAR}, #{transactionAddress,jdbcType=VARCHAR}, 
	#{merchantName,jdbcType=VARCHAR}, #{merchantCode,jdbcType=VARCHAR}, #{iPAddress,jdbcType=VARCHAR}, #{mAC,jdbcType=VARCHAR}, #{tellerCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{qrydt,jdbcType=VARCHAR})
    </insert> 
    
    	<select id="selBr24_trans_infoList" parameterType="com.citic.server.dx.domain.Br24_bas_info"
		resultType="com.citic.server.dx.domain.Br24_trans_info">
		select transserialnumber, transseq from br24_trans_info a
		where  a.transactiontime &gt;= #{last_up_dt} 
		and exists(select 'x' from Br24_bas_info b 
		              where b.transserialnumber=a.transserialnumber and b.applicationID= #{applicationID}  and b.toorg= #{toorg} )
		 
	</select>
    
        <delete id="delBr24_account_freeze" parameterType="String">  
  		<![CDATA[ delete from br24_account_freeze where transserialnumber=#{transserialnumber} ]]>
	</delete>
    
    <delete id="deleteBr24_trans_info" parameterType="String">  
  	   delete  from br24_trans_info where transseq in(
              select transseq
             from(
                 select a.transseq,a.transactiontime,ROW_NUMBER() over(partition by a.transserialnumber order by a.transactiontime desc) rnum
                  from br24_trans_info a
                where a.transserialnumber=#{_parameter}
              )b
       where b.rnum>1000
    ) and transserialnumber=#{_parameter}
	</delete>
	
	<insert id="insertBr24_account_freeze" parameterType="com.citic.server.dx.domain.Br24_account_freeze"> 	
	insert into br24_account_freeze (transserialnumber, freezeserial, accountnumber, cardnumber, freezestarttime, freezeendtime, freezedeptname, currency, freezebalance, remark, freezetype, qrydt)
    values (#{transserialnumber,jdbcType=VARCHAR}, #{freezeSerial,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, 
    #{freezeStartTime,jdbcType=VARCHAR}, #{freezeEndTime,jdbcType=VARCHAR}, #{freezeDeptName,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
    #{freezeBalance,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{freezeType,jdbcType=VARCHAR}, #{qrydt,jdbcType=VARCHAR})
    </insert> 
	
	<delete id="delBr24_account_right" parameterType="String">  
  		<![CDATA[ delete from br24_account_right where transserialnumber=#{transserialnumber} ]]>
	</delete>
	
	<insert id="insertBr24_account_right" parameterType="com.citic.server.dx.domain.Br24_account_right"> 	
	insert into br24_account_right (transserialnumber, priortyserial, accountnumber, cardnumber, credentialtype, credentialnumber, rightstype, obligeename, rightsbalance, obligeeaddress, obligeecontactinfo, qrydt)
    values (#{transserialnumber}, #{priortySerial}, #{accountNumber}, #{cardNumber}, #{credentialType}, #{credentialNumber}, #{rightsType}, #{obligeeName}, #{rightsBalance}, #{obligeeAddress}, #{obligeeContactInfo}, #{qrydt})
    </insert>
    
    <select id="selectBr24_account_holderByVo" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_holder">
		select  *  from br24_account_holder where transserialnumber = #{transserialnumber}
	</select>
	
	<select id="getBr24_card_infoList" parameterType="String"
		resultType="com.citic.server.dx.domain.request.QueryRequest_Accounts">
		select  *  from br24_card_info where transserialnumber = #{transserialnumber}
	</select>
	
	<select id="getBr24_account_infoList" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_info">
		select  *  from br24_account_info where transserialnumber = #{transserialnumber}
		
	</select>
    
    <select id="getBr24_trans_infoList" parameterType="String"
		resultType="com.citic.server.dx.domain.request.QueryRequest_Transaction">
		select  *  from br24_trans_info where transserialnumber = #{transserialnumber}
	
	</select>
    
    <select id="getBr24_account_rightList" parameterType="String"
		resultType="com.citic.server.dx.domain.request.QueryRequest_Priority">
		select  *  from br24_account_right where transserialnumber = #{transserialnumber}
	
	</select>
	
	<select id="getBr24_account_freezeList" parameterType="String"
		resultType="com.citic.server.dx.domain.request.QueryRequest_Measure">
		select  *  from br24_account_freeze where transserialnumber = #{transserialnumber}
	
	</select>
	
	<select id="getAccountNumberList" parameterType="String"
		resultType="String">
		select distinct accountnumber  from br24_trans_info where transserialnumber = #{transserialnumber}
	</select>
    
    <select id="getCardInfo_D" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_card_info">
		select  accountname,cardnumber,'' as depositbankbranch, open_organkey as depositbankbranchcode, opendate as accountopentime,
		canceldate as accountcancellationtime, cancel_organkey as accountcancellationbranch,remark 
		from bb11_card 
		where cardnumber=#{cardnumber}
	</select>
	
	<select id="getCardInfo_C" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_card_info">
		select  ctac_name as accountname,ctac as cardnumber,'' as depositbankbranch, organkey_pboc as depositbankbranchcode, oatm as accountopentime,
		catm as accountcancellationtime, cancel_organkey as accountcancellationbranch,remark 
		from bb11_deposit_c 
		where ctac=#{cardnumber}
	</select>
    
    <select id="getAccountInfo_D" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_info">
		select card_num as cardnumber,acct_num as accountnumber,ctac_seq as accountserial,type_cd as accounttype,status_cd as accountstatus,
		curr_cd as currency,cash_cd as cashremit,last_amtval as accountbalance,amtval as availablebalance,last_occur_dt as lasttransactiontime, ctac_name as accountname
		from bb11_id_deposit
		where card_num =#{cardnumber} 
	</select>
	
	<select id="getAccountInfo_C" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_info">
		select card_num as cardnumber,acct_num as accountnumber,ctac_seq as accountserial,type_cd as accounttype,status_cd as accountstatus,
		curr_cd as currency,cash_cd as cashremit,last_amtval as accountbalance,amtval as availablebalance,last_occur_dt as lasttransactiontime, ctac_name as accountname
		from bb11_deposit_c
		where card_num =#{cardnumber} 
	</select>
	
    <select id="getAccountFreezeList_D" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_freeze">
		select acct_num as accountnumber,freezeserial,freezestartdate,freezeenddate,freezedeptname,freezebalance,remark,freezetype
		from bb11_freeze t1
		where  exists(select 1 from bb11_id_deposit t2 where t1.acct_num=t2.acct_num and t2.party_id =#{value} )
	</select>
	
	<select id="getAccountFreezeList_C" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_freeze">
		select acct_num as accountnumber,freezeserial,freezestartdate,freezeenddate,freezedeptname,freezebalance,remark,freezetype
		from bb11_freeze t1
		where  exists(select 1 from bb11_deposit_c t2 where t1.acct_num=t2.acct_num and t2.party_id =#{value} )
	</select>
	
	<select id="getAccountRightList_D" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_right">
		select acct_num as accountnumber,rightserial as accountserial,credentialtype,credentialnumber,rightstype,obligeename,rightsbalance,obligeeaddress,obligeecontactinfo
		from bb11_right t1
		where  exists(select 1 from bb11_id_deposit t2 where t1.acct_num=t2.acct_num and t2.party_id =#{value} ) 
	</select>
	
    <select id="getAccountRightList_C" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_right">
		select acct_num as accountnumber,rightserial as accountserial,credentialtype,credentialnumber,rightstype,obligeename,rightsbalance,obligeeaddress,obligeecontactinfo
		from bb11_right t1
		where  exists(select 1 from bb11_deposit_c t2 where t1.acct_num=t2.acct_num and t2.party_id =#{value} ) 
	</select>
	
    <select id="getCardInfobyPartidList_D" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_card_info">
		select  accountname,cardnumber,'' as depositbankbranch, open_organkey as depositbankbranchcode, opendate as accountopentime,
		canceldate as accountcancellationtime, cancel_organkey as accountcancellationbranch,remark 
		from bb11_card 
		where party_id=#{party_id}
	</select>
	
	<select id="getCardInfobyPartidList_C" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_card_info">
		select  ctac_name as accountname,ctac as cardnumber,'' as depositbankbranch, organkey_pboc as depositbankbranchcode, oatm as accountopentime,
		catm as accountcancellationtime, cancel_organkey as accountcancellationbranch,remark 
		from bb11_deposit_c 
		where party_id=#{party_id}
	</select>
	
	<select id="getTransInfoList"  parameterType="com.citic.server.dx.domain.Br24_q_Main"
		resultType="com.citic.server.dx.domain.Br24_trans_info">
			 select  cardnumber,acct_num as accountnumber,tx_type_cd	 as transactiontype,debit_credit as borrowingsigns,crtp	 as currency,crat	as	transactionamount,amt_val as accountbalance,
			 dt_time as transactiontime,tx_no	as	transactionserial,tcnm as opponentname,tcac as opponentaccountnumber,opponentcardnumber as opponentcardnumber,
			 tcid as opponentcredentialnumber,opponentaccountbalance as opponentaccountbalance,cfin as opponentdepositbank,des as transactionremark,organkey as transactionbranchcode,
			 lognumber as lognumber,voucher_no as summonsnumber,card_type as vouchertype,card_num as vouchercode,cash_ind as cashmark,terminalnumber	 as terminalnumber,transactionstatus as transactionstatus,
	         trcd_country||'|'||trcd_area	as	transactionaddress,merchantname as merchantname,merch_no as merchantcode,tran_ip as ipaddress,mac,teller	 as tellercode,temp1 as remark
	         from bb11_trans
		    <where>
		    <if test="cardNumber != null  and cardNumber != '' ">
				    card_num = #{cardNumber}
			</if>	
			<if test="accountnumber != null  and accountnumber != '' ">
				    acct_num = #{accountnumber}
			</if>	
			<if test="inquiryperiodstart!= null  and inquiryperiodstart != '' ">
					and <![CDATA[ dt_time  >=  #{inquiryperiodstart} ]]>
			</if>
			<if test="inquiryperiodend!= null  and inquiryperiodend != '' ">
					and <![CDATA[ dt_time  <=  #{inquiryperiodend} ]]>
			</if>	
		</where>	
	</select>
	
    <select id="getParty_id" parameterType="String"   resultType="String">
	    select  party_id  from bb11_party   where ctid = #{ctid}
	</select>
	
	<select id="getAccountInfoBypartyID_D" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_info">
		select card_num as cardnumber,acct_num as accountnumber,ctac_seq as accountserial,type_cd as accounttype,status_cd as accountstatus,
		curr_cd as currency,cash_cd as cashremit,last_amtval as accountbalance,amtval as availablebalance,ctac_name as accountname,last_occur_dt as lasttransactiontime
		from bb11_id_deposit
		where party_id =#{value} 
	</select>
	
	<select id="getAccountInfoBypartyID_C" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_info">
		select card_num as cardnumber,acct_num as accountnumber,ctac_seq as accountserial,type_cd as accounttype,status_cd as accountstatus,
		curr_cd as currency,cash_cd as cashremit,last_amtval as accountbalance,amtval as availablebalance,ctac_name as accountname,last_occur_dt as lasttransactiontime
		from bb11_deposit_c
		where party_id =#{value} 
	</select>
	
	<select id="getCardInfo" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_holder">
	    select  card_type_o as accountcredentialtype,ctid as accountcredentialnumber,ctnm as accountsubjectname,cctl_p as telnumber,ctar as residentaddress,
		agent_name as cardoperatorname,agent_id_type_o as cardoperatorcredentialtype,agent_id_no as cardoperatorcredentialnumber,
		cctl_t as residenttelnumber,resident_tel_number as residenttelnumber, workcompanyname, worktelnumber,workaddress,ccei_email as emailaddress	 
		from bb11_party
	    where party_id = #{party_id}
	</select>
	
	<select id="getCard_CorpInfo" parameterType="String"
		resultType="com.citic.server.dx.domain.Br24_account_holder">
	    select  crnm as artificialpersonrep,crit ,crid ,businesslicensenumber,statetaxserial,localtaxserial
	    from bb11_party_corp
	    where  party_id=#{party_id}
	</select>
	
	 <select id="getParty_idbyCardnumber" parameterType="String"   resultType="com.citic.server.dx.domain.Br24_account_holder">
	    select  party_id,oper_name as cardOperatorName,oper_credetype as cardOperatorCredentialType ,oper_credenum as cardOperatorCredentialNumber  from bb11_card   where cardnumber = #{value}
	    union
	    select  distinct party_id,'' as cardOperatorName,'' as cardOperatorCredentialType ,'' as cardOperatorCredentialNumber  from bb11_deposit_c  where  acct_num = #{value} or card_num = #{value}
	</select>
	
	 <delete id="delBg_q_attach" parameterType="String">  
	 	 <![CDATA[ delete from br24_q_attach where transserialnumber=#{transserialnumber} ]]>
      </delete> 
	
	<insert id="insertBg_q_attach" parameterType="com.citic.server.dx.domain.Bg_Q_Attach"> 
	    insert into br24_q_attach(
	     fileno,transserialnumber,filename,filepath,create_dt
	    ) values(
	    #{fileno},#{transserialnumber},#{filename},#{filepath},#{create_dt}
	    ) 
    </insert> 
 
	    <update id="updateBr24_q_acct_dynamic_main"  parameterType="String"  >
        update br24_q_acct_dynamic_main set interceptionenddate = #{datatime,jdbcType=VARCHAR}
        where applicationid = #{aid} and messagefrom=#{msgfrom} 
    </update>
    	
	 <select id="selBr24_q_acct_dynamic_main" parameterType="String"   resultType="com.citic.server.dx.domain.Br24_q_Main">
	 select  applicationid from br24_q_acct_dynamic_main 
        where applicationid = #{aid} and messagefrom=#{msgfrom} and status_cd='0'
	</select>
	
	<insert id="insertBr24_q_acct_dynamic_main" parameterType="com.citic.server.dx.domain.Br24_q_Main">
		insert into br24_q_acct_dynamic_main(txcode,applicationid,messagefrom,transserialnumber,casenumber,subjecttype,bankid,bankname,accountname,accountnumber,status_cd,interceptionenddate,lastpollingtime,qrydt)
		values (#{txCode},#{applicationid},#{messageFrom},#{transSerialNumber},#{casenumber},#{subjecttype},#{bankid},#{bankname},#{accountname},#{accountnumber},#{status},#{interceptionenddate},#{lastpollingtime},#{qrydt})
	</insert>
	 
	 <delete id="delBr24_q_acct_dynamic_main" parameterType="String">  
  		<![CDATA[ delete from br24_q_acct_dynamic_main where  transserialnumber=#{_parameter} ]]>
	</delete>
	
	
	
</mapper> 