<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citic.server.jsga.mapper.MM41_kzqq_jsgaMapper">

	<delete id="delBr41_kzqq" parameterType="com.citic.server.jsga.domain.Br41_kzqq">  
  		<![CDATA[ delete from br41_kzqq where qqdbs=#{qqdbs} and tasktype = #{tasktype} ]]>
	</delete>

	<insert id="insertBr41_kzqq" parameterType="com.citic.server.jsga.domain.Br41_kzqq">
		insert into br41_kzqq(
		qqdbs,qqcslx,tasktype,sqjgdm,mbjgdm,ztlb,ajlx,jjcd,beiz,fssj,qqrxm,qqrzjlx,qqrzjhm,qqrdwmc,qqrsjh,xcrxm,xcrzjlx,xcrzjhm,status,orgkey,qrydt,hzsj
		) values(
		#{qqdbs},#{qqcslx},#{tasktype},#{sqjgdm},#{mbjgdm},#{ztlb,jdbcType=VARCHAR},#{ajlx,jdbcType=VARCHAR},#{jjcd,jdbcType=VARCHAR},#{beiz,jdbcType=VARCHAR},#{fssj,jdbcType=VARCHAR},#{qqrxm,jdbcType=VARCHAR},#{qqrzjlx,jdbcType=VARCHAR},#{qqrzjhm,jdbcType=VARCHAR},#{qqrdwmc,jdbcType=VARCHAR},#{qqrsjh,jdbcType=VARCHAR},#{xcrxm,jdbcType=VARCHAR},#{xcrzjlx,jdbcType=VARCHAR},#{xcrzjhm,jdbcType=VARCHAR},#{status},#{orgkey},#{qrydt},#{hzsj,jdbcType=VARCHAR}
		)
	</insert>


	<delete id="delBr41_kzqq_dj" parameterType="com.citic.server.jsga.domain.Br41_kzqq">  
  		<![CDATA[ delete from br41_kzqq_dj where qqdbs=#{qqdbs} and tasktype = #{tasktype} and rwlsh = #{rwlsh} ]]>
	</delete>

	<delete id="delBr41_kzqq_dj_back" parameterType="com.citic.server.jsga.domain.Br41_kzqq">  
  		<![CDATA[ delete from br41_kzqq_dj_back where qqdbs=#{qqdbs} and tasktype = #{tasktype} and  rwlsh=#{rwlsh}]]>
	</delete>

	<delete id="delBr41_kzqq_dj_back1" parameterType="com.citic.server.jsga.domain.response.JSGA_FreezeResponse_Account">  
  		<![CDATA[ delete from br41_kzqq_dj_back where rwlsh=#{rwlsh} and tasktype = #{tasktype}]]>
	</delete>


	<delete id="delBr41_kzqq_zf" parameterType="com.citic.server.jsga.domain.Br41_kzqq">  
  		<![CDATA[ delete from br41_kzqq_zf where qqdbs=#{qqdbs} and tasktype = #{tasktype} and  rwlsh=#{rwlsh}]]>
	</delete>

	<delete id="delBr41_kzqq_zf_back1" parameterType="com.citic.server.jsga.domain.response.JSGA_StopPaymentResponse_Account">  
  		<![CDATA[ delete from br41_kzqq_zf_back where rwlsh=#{rwlsh} and tasktype = #{tasktype}]]>
	</delete>

	<delete id="delBr41_kzqq_dj_back_mx" parameterType="com.citic.server.jsga.domain.response.JSGA_FreezeResponse_Account">  
  		<![CDATA[ delete from br41_kzqq_dj_back_mx where rwlsh=#{rwlsh} and tasktype = #{tasktype}]]>
	</delete>

	<delete id="delBr41_kzqq_zf_back_mx" parameterType="com.citic.server.jsga.domain.response.JSGA_StopPaymentResponse_Account">  
  		<![CDATA[ delete from br41_kzqq_zf_back_mx where rwlsh=#{rwlsh} and tasktype = #{tasktype}]]>
	</delete>

	<delete id="delBr41_kzqq_zf_back" parameterType="com.citic.server.jsga.domain.Br41_kzqq">  
  		<![CDATA[ delete from br41_kzqq_zf_back where qqdbs=#{qqdbs} and tasktype = #{tasktype} and  rwlsh=#{rwlsh} ]]>
	</delete>


	<insert id="insertBr41_kzqq_dj" parameterType="com.citic.server.jsga.domain.response.JSGA_FreezeResponse_Account">
		insert into br41_kzqq_dj(
		rwlsh,qqdbs,yrwlsh,djzhhz,zzlxdm,zzhm,zh,zhxh,djfs,je,bz,kssj,jssj,organkey,qrydt,tasktype,ztlb
		) values(
		#{rwlsh},#{qqdbs},#{yrwlsh,jdbcType=VARCHAR},#{djzhhz,jdbcType=VARCHAR},#{zzlxdm,jdbcType=VARCHAR},#{zzhm,jdbcType=VARCHAR},#{zh},#{zhxh,jdbcType=VARCHAR},#{djfs,jdbcType=VARCHAR},#{je,jdbcType=VARCHAR},#{bz,jdbcType=VARCHAR},#{kssj,jdbcType=VARCHAR},#{jssj,jdbcType=VARCHAR},#{organkey},#{qrydt},#{tasktype},#{ztlb,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertBr41_kzqq_dj_back" parameterType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Record">
		insert into br41_kzqq_dj_back(
		rwlsh,qqdbs,zh,kh,zxjg,sqdjxe,sdje,ye,zxqssj,djjsrq,wndjyy,djjg,djje,djjzrq,wdjje,zhkyye,beiz,status,qrydt,organkey,tasktype,hxappid,msgcheckresult
		) values(
		#{rwlsh},#{qqdbs},#{zh},#{kh,jdbcType=VARCHAR},#{zxjg,jdbcType=VARCHAR},#{sqdjxe,jdbcType=VARCHAR},#{sdje,jdbcType=VARCHAR},#{ye,jdbcType=VARCHAR},#{zxqssj,jdbcType=VARCHAR},#{djjsrq,jdbcType=VARCHAR},#{wndjyy,jdbcType=VARCHAR},#{djjg,jdbcType=VARCHAR},#{djje,jdbcType=VARCHAR},#{djjzrq,jdbcType=VARCHAR},#{wdjje,jdbcType=VARCHAR},#{zhkyye,jdbcType=VARCHAR},#{beiz,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{qrydt,jdbcType=VARCHAR},#{organkey},#{tasktype},#{hxappid},#{msgcheckresult,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertBr41_kzqq_zf" parameterType="com.citic.server.jsga.domain.response.JSGA_StopPaymentResponse_Account">
		insert into br41_kzqq_zf(
		rwlsh,qqdbs,zh,qrydt,organkey,yrwlsh,tasktype,zxsjqj,ztlb
		) values(
		#{rwlsh},#{qqdbs},#{zh},#{qrydt},#{organkey,jdbcType=VARCHAR},#{yrwlsh,jdbcType=VARCHAR},#{tasktype,jdbcType=VARCHAR},#{zxsjqj,jdbcType=VARCHAR},#{ztlb,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertBr41_kzqq_zf_back" parameterType="com.citic.server.jsga.domain.request.JSGA_StopPaymentRequest_Recored">
		insert into br41_kzqq_zf_back(
		rwlsh,qqdbs,zh,kh,zxjg,sbyy,zxqssj,status,qrydt,organkey,tasktype,hxappid,msgcheckresult
		) values(
		#{rwlsh,jdbcType=VARCHAR},#{qqdbs,jdbcType=VARCHAR},#{zh,jdbcType=VARCHAR},#{kh,jdbcType=VARCHAR},#{zxjg,jdbcType=VARCHAR},#{sbyy,jdbcType=VARCHAR},#{zxqssj,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{qrydt,jdbcType=VARCHAR},#{organkey,jdbcType=VARCHAR},#{tasktype,jdbcType=VARCHAR},#{hxappid,jdbcType=VARCHAR},#{msgcheckresult,jdbcType=VARCHAR}
		)
	</insert>

	<select id="selectBr41_kzqqByVo" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="com.citic.server.jsga.domain.Br41_kzqq">
		select
		qqdbs,qqcslx,tasktype,sqjgdm,mbjgdm,ztlb,ajlx,jjcd,beiz,fssj,qqrxm,qqrzjlx,qqrzjhm,qqrdwmc,qqrsjh,xcrxm,xcrzjlx,xcrzjhm,status,orgkey,qrydt,hzsj
		from br41_kzqq where qqdbs = #{qqdbs} and tasktype =#{tasktype}
	</select>

	<select id="selectBr41_kzqq_djByVo" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="com.citic.server.jsga.domain.response.JSGA_FreezeResponse_Account">
		select * from Br41_kzqq_dj where qqdbs = #{qqdbs} and tasktype = #{tasktype} and rwlsh =
		#{rwlsh}
	</select>

	<select id="selectBr41_kzqq_zfByVo" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="com.citic.server.jsga.domain.response.JSGA_StopPaymentResponse_Account">
		select * from Br41_kzqq_zf where qqdbs = #{qqdbs} and tasktype = #{tasktype} and rwlsh =
		#{rwlsh}
	</select>

	<select id="selectBr41_cxqq_hzwsList" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="com.citic.server.jsga.domain.request.JSGA_FeedbackRequest_Record">
		select rwlsh,wjmc as hz, wjlx as hzwjlx from br40_cxqq_hzws
		where qqdbs = #{qqdbs} and
		tasktype = #{tasktype}
	</select>


	<select id="selectBr41_kzqq_dj_backByVo" parameterType="com.citic.server.jsga.domain.response.JSGA_FreezeResponse_Account" resultType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Record">
		select a.*,b.djfs from br41_kzqq_dj_back a,br41_kzqq_dj b
		where a.qqdbs=b.qqdbs and a.rwlsh=b.rwlsh and a.tasktype=b.tasktype and a.tasktype = #{tasktype} and a.rwlsh = #{yrwlsh}
	</select>

	<select id="selectBr41_kzqq_zf_backByVo" parameterType="com.citic.server.jsga.domain.response.JSGA_StopPaymentResponse_Account" resultType="com.citic.server.jsga.domain.request.JSGA_StopPaymentRequest_Recored">
		select * from br41_kzqq_zf_back where tasktype =
		#{tasktype} and rwlsh = #{yrwlsh}
	</select>

	<select id="selectBr41_kzqq_dj_backByList" parameterType="com.citic.server.jsga.domain.response.JSGA_FreezeResponse_Account" resultType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Record">
		select d.djzhhz,d.djfs ,d.ztlb ,k.* from br41_kzqq_dj
		d,br41_kzqq_dj_back k where d.tasktype=k.tasktype and d.qqdbs=k.qqdbs and d.rwlsh=k.rwlsh and k.qqdbs = #{qqdbs} and k.tasktype = #{tasktype} 
		     <if test="rwlsh != null  and  rwlsh != '' ">
            and k.rwlsh = #{rwlsh}
            </if> 
		
	</select>

	<select id="selectBr41_kzqq_zf_backByList" parameterType="com.citic.server.jsga.domain.response.JSGA_StopPaymentResponse_Account" resultType="com.citic.server.jsga.domain.request.JSGA_StopPaymentRequest_Recored">
		select t1.*,t2.ztlb from br41_kzqq_zf_back t1,
		br41_kzqq_zf t2 where t1.tasktype = t2.tasktype and t1.qqdbs = t2.qqdbs and t1.rwlsh = t2.rwlsh
		and t1.qqdbs = #{qqdbs} and t1.tasktype = #{tasktype} 
		  <if test="rwlsh != null  and  rwlsh != '' ">
           and t1.rwlsh = #{rwlsh}
            </if> 
	</select>

	<select id="getBr41_kzqq_dj_backCount" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="java.lang.Integer">
		select count(1) from Br41_kzqq_dj_back where qqdbs=#{qqdbs} and tasktype = #{tasktype}
		and status in ('0','1')
	</select>

	<select id="getBr41_kzqq_zf_backCount" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="java.lang.Integer">
		select count(1) from Br41_kzqq_zf_back where qqdbs=#{qqdbs} and tasktype = #{tasktype}
		and status in ('0','1')
	</select>

	<select id="isPacket_zfCount" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="java.lang.Integer">
		select count(1) from br41_kzqq_zf_back where qqdbs =#{qqdbs} and tasktype=#{tasktype} and status in ('0','1','2')
	</select>
	<select id="isPacket_djCount" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="java.lang.Integer">
		select count(1) from br41_kzqq_dj_back where qqdbs =#{qqdbs} and tasktype=#{tasktype} and status in ('0','1','2')
	</select>

	<delete id="delBr42_msg" parameterType="com.citic.server.jsga.domain.Br42_msg">
		<![CDATA[ delete from br42_msg where packetkey=#{packetkey} and bdhm=#{bdhm} and tasktype = #{tasktype} and msg_type_cd= #{msg_type_cd}]]>
	</delete>

	<insert id="insertBr42_msg" parameterType="com.citic.server.jsga.domain.Br42_msg">
		insert into br42_msg (msgkey, bdhm, msg_type_cd, packetkey, organkey_r, senddate, msg_filename, msg_filepath, status_cd, create_dt,tasktype)
		values
		(#{msgkey}, #{bdhm}, #{msg_type_cd}, #{packetkey},
		#{organkey_r}, #{senddate}, #{msg_filename}, #{msg_filepath}, #{status_cd}, #{create_dt}, #{tasktype})
	</insert>

	<select id="getBr42_msg" parameterType="com.citic.server.jsga.domain.Br42_packet" resultType="com.citic.server.jsga.domain.Br42_msg">
		select * from Br42_msg where packetkey =#{packetkey} and tasktype = #{tasktype}
	</select>

	<delete id="delBr42_packet" parameterType="com.citic.server.jsga.domain.Br42_packet">
		<![CDATA[ delete from br42_packet where packetkey=#{packetkey}  and tasktype = #{tasktype}  ]]>
	</delete>

	<insert id="insertBr42_packet" parameterType="com.citic.server.jsga.domain.Br42_packet">
		insert into br42_packet(packetkey,pack_type_cd,organkey_r,senddate_dt,filename,filepath,status_cd,create_dt,tasktype)
		values (#{packetkey},
		#{pack_type_cd}, #{organkey_r}, #{senddate_dt}, #{filename}, #{filepath}, #{status_cd}, #{create_dt}, #{tasktype})
	</insert>

	<update id="updateBr41_kzqq_dj_back" parameterType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Record">
		update Br41_kzqq_dj_back set status=#{status}
		where qqdbs=#{qqdbs} and tasktype = #{tasktype}
	  <if test="rwlsh != null  and  rwlsh != '' ">
           and rwlsh = #{rwlsh}
            </if> 
	</update>

	<update id="updateBr41_kzqq_zf_back" parameterType="com.citic.server.jsga.domain.request.JSGA_StopPaymentRequest_Recored">
		update Br41_kzqq_zf_back set status=#{status}
		where qqdbs=#{qqdbs} and tasktype = #{tasktype}
			  <if test="rwlsh != null  and  rwlsh != '' ">
           and rwlsh = #{rwlsh}
            </if> 
	</update>

	<update id="updateBr41_kzqq" parameterType="com.citic.server.jsga.domain.Br41_kzqq">
		update br41_kzqq set status=#{status}
		where qqdbs=#{qqdbs} and tasktype = #{tasktype}
	</update>

	<update id="updateBr41_kzqqStatus" parameterType="com.citic.server.jsga.domain.JSGA_ReturnReceipt">
		update br41_kzqq set
		<choose>
			<when test="hzdm == '30000'.toString()">
				status='3'
			</when>
			<otherwise>
				status='4'
			</otherwise>
		</choose>
		where qqdbs=#{qqdbs} and tasktype = #{tasktype}
	</update>

	<select id="getWjmc" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="String">
		select wjmc from Br40_wh_attach where qqdbs=#{qqdbs} and tasktype = #{tasktype} and wslx='3'
	</select>

	<select id="selectBr41_kzqq_djList" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="com.citic.server.jsga.domain.response.JSGA_FreezeResponse_Account">
		select * from Br41_kzqq_dj where qqdbs = #{qqdbs} and tasktype = #{tasktype}
	</select>

	<insert id="insertBr41_kzqq_hzws" parameterType="com.citic.server.jsga.domain.request.JSGA_FeedbackRequest_Record">
		insert into br41_kzqq_hzws (wskey,tasktype, qqdbs, rwlsh,wjmc, wjlx, wslx, wjpath,qrydt)
		values (#{wskey}, #{tasktype}, #{qqdbs}, #{rwlsh},
		#{wjmc}, #{wjlx}, #{wslx}, #{filepath}, #{qrydt})
	</insert>

	<select id="selectBr41_kzqq_dj_back_mxByList" parameterType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Record" resultType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Detail">
		select * from br41_kzqq_dj_back_mx where qqdbs =
		#{qqdbs} and tasktype = #{tasktype} and rwlsh = #{rwlsh} and zh=#{zh}
	</select>

	<select id="selectBr41_kzqq_zf_back_mxByList" parameterType="com.citic.server.jsga.domain.request.JSGA_StopPaymentRequest_Recored" resultType="com.citic.server.jsga.domain.request.JSGA_StopPaymentRequest_Detail">
		select * from br41_kzqq_zf_back_mx where qqdbs =
		#{qqdbs} and tasktype = #{tasktype} and rwlsh = #{rwlsh} and zh=#{zh}
	</select>

	<insert id="insertBr41_kzqq_dj_back_mx" parameterType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Detail">
		insert into br41_kzqq_dj_back_mx(
		rwlsh,qqdbs,tasktype,zh,zhzzh,zzhxh,zzhye,zxjg,zxjgyy,djjg,zxdjje,djjzrq,djje,djkssj,wdjje,djjssj,bz,chbz,hxappid,organkey
		) values(
		#{rwlsh},#{qqdbs},#{tasktype},#{zh},#{zhzzh,jdbcType=VARCHAR},#{zzhxh,jdbcType=VARCHAR},#{zzhye,jdbcType=VARCHAR},#{zxjg,jdbcType=VARCHAR},#{zxjgyy,jdbcType=VARCHAR},#{djjg,jdbcType=VARCHAR},#{zxdjje,jdbcType=VARCHAR},#{djjzrq,jdbcType=VARCHAR},#{djje,jdbcType=VARCHAR},#{djkssj,jdbcType=VARCHAR},#{wdjje,jdbcType=VARCHAR},#{djjssj,jdbcType=VARCHAR},#{bz,jdbcType=VARCHAR},#{chbz,jdbcType=VARCHAR},#{hxappid,jdbcType=VARCHAR},#{organkey,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertBr41_kzqq_zf_back_mx" parameterType="com.citic.server.jsga.domain.request.JSGA_StopPaymentRequest_Detail">
		insert into br41_kzqq_zf_back_mx(
		rwlsh,qqdbs,tasktype,zh,zhzzh,zzhxh,zzhye,zxjg,zxjgyy,zfkssj,zfjssj,bz,chbz,hxappid,organkey
		) values(
		#{rwlsh,jdbcType=VARCHAR},#{qqdbs,jdbcType=VARCHAR},#{tasktype,jdbcType=VARCHAR},#{zh,jdbcType=VARCHAR},#{zhzzh,jdbcType=VARCHAR},#{zzhxh,jdbcType=VARCHAR},#{zzhye,jdbcType=VARCHAR},#{zxjg,jdbcType=VARCHAR},#{zxjgyy,jdbcType=VARCHAR},#{zfkssj,jdbcType=VARCHAR},#{zfjssj,jdbcType=VARCHAR},#{bz,jdbcType=VARCHAR},#{chbz,jdbcType=VARCHAR},#{hxappid,jdbcType=VARCHAR},#{organkey,jdbcType=VARCHAR}
		)
	</insert>

	<select id="selectBr41_kzqq_zf_backDisp" parameterType="com.citic.server.jsga.domain.response.JSGA_StopPaymentResponse_Account" resultType="com.citic.server.jsga.domain.request.JSGA_StopPaymentRequest_Recored">
		select * from br41_kzqq_zf_back where tasktype =
		#{tasktype} and rwlsh = #{rwlsh}
	</select>

	<select id="selectBr41_kzqq_dj_backDisp" parameterType="com.citic.server.jsga.domain.response.JSGA_FreezeResponse_Account" resultType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Record">
		select * from br41_kzqq_dj_back where tasktype =
		#{tasktype} and rwlsh = #{rwlsh}
	</select>

	<select id="isTaskCount" parameterType="com.citic.server.jsga.domain.Br41_kzqq" resultType="java.lang.Integer">
		select
		case when count(T1.TASKKEY) = sum(case when T2.CALSTATUS = '1' then '1' else '0' end)
		then '0' else '1'
		end as TASKCOUNT
		from MC20_TASK_FACT1 T1
		left join MC20_TASK1_STATUS T2 on T1.TASKKEY =
		T2.TASKKEY
		where
		<choose>
			<when test="tasktype == '8'.toString()">
				substr(T1.BDHM, 13, 22) = #{qqdbs}
			</when>
			<otherwise>
				substr(T1.BDHM, 22, 22) = #{qqdbs}
			</otherwise>
		</choose>
		and T1.TASKTYPE = #{tasktype}
	</select>

	<select id="selectBr41_kzqq_dj_backInPacket" parameterType="String" resultType="com.citic.server.jsga.domain.request.JSGA_FreezeRequest_Record">
		select d.djzhhz,d.djfs ,d.ztlb ,k.* 
		from br41_kzqq_dj d
		left join br41_kzqq_dj_back k on 
			d.tasktype = k.tasktype and d.qqdbs = k.qqdbs and d.rwlsh = k.rwlsh
		where k.qqdbs = #{qqdbs} and k.tasktype = #{tasktype} 
	</select>
</mapper> 