<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citic.server.mapper.MC00_di_tablesMapper">

	<select id="getMC00_di_tablesList" resultType="MC00_di_tables">
		<![CDATA[
		select taskid,subtaskid,tablename,freq,dsid,tabledes,etlproc
		from mc00_di_tables 
		]]>
	</select>
	
</mapper>
  

