<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citic.server.net.mapper.MM11_indicMapper">

	<select id="getMM11_indicList" parameterType="com.citic.server.service.domain.MM11_indic" resultType="com.citic.server.service.domain.MM11_indic">
		
		select indickey,indicname,indicdes,freq,indicattr,indictype,facttable,savedays,callevel,flag,creator,create_dt,isjl,region_num,region_sf
		 from mm11_indic 
		 where flag='1' and indictype = #{indictype} and freq = #{freq}
		 
	</select>
	
	
	<select id="getMM11_indicListForLab" parameterType="com.citic.server.service.domain.MM11_indic" resultType="com.citic.server.service.domain.MM11_indic">
		
		select t1.indickey,indicname,indicdes,freq,indicattr,indictype,facttable,savedays,callevel,flag,creator,create_dt,isjl,region_num,region_sf
		 
		 from mm11_indic t1,MM12_EVENT_INDIC t2
		 
		 where t1.indickey=t2.indickey and flag='1' and indictype = #{indictype} and callevel = #{callevel} and freq = #{freq}
		 
		 and t2.eventkey in
		 
		 (
		 	 select distinct t1.eventkey
     
		     from mm12_event t1,MM14_LINK_EVENT t2, mm14_model t3
		     
		     where t1.eventkey=t2.eventkey and t2.modelkey=t3.modelkey and t3.modelkey=#{modelkey}
		     
		     	and t1.flag = '1'
		     
		     	and t1.eventkey not in  
		     
				     (
				     select distinct t1.eventkey
				     from mm12_event t1,MM14_LINK_EVENT t2, mm14_model t3
				     where t1.eventkey=t2.eventkey and t2.modelkey=t3.modelkey and t3.flag='5'
				     and t1.freq =#{freq} and t1.flag = '1'
				     )
		 )
		 
	</select>

	<select id="getMM11_indicDisp" parameterType="String" resultType="com.citic.server.service.domain.MM11_indic">
		
		select t1.indickey,indicname,indicdes,freq,indicattr,indictype,facttable,savedays,callevel,flag,creator,create_dt,isjl,region_num,region_sf
		 from mm11_indic t1
		 where indickey = #{indickey}
		 
	</select>

</mapper>


