<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citic.server.mapper.MC00_datasourceMapper">

	<select id="getMC00_datasourceList" resultType="MC00_datasource">
		<![CDATA[
		select dsid,dsname,des,flocation,ftype,dgetmethod,dputlocation
		,dgetlocation,dbconnection,dbtotalcount,ftpconnection,ftpfileext
		,ldspath,lworkpath,lloadcmdpath,isdeploy,deploytime
		from MC00_datasource 
		where isdeploy = '1'
		]]>
	</select>
	
</mapper>


